*{
    text-decoration: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}
.title{
    text-align: center;
    margin: 50px;
    font-size: 70px;
    color:#000;
    text-align: center;
}

/* Posts */

.post-container{ 
    width:100%;
    display: inline-block;
    margin-left: 50%;
    padding-bottom: 100px;
    margin: auto;
}
.post-container h3,a{
    font-size: 15px;
}
img{
    width: 100%;
    margin-bottom: 30px;
}

body{
    margin: 0;
    padding: 0;
    background: #ebebeb;
    font-family: sans-serif;
}
.post-columna{
    border: solid 1px #b9b9b9;
    margin: 5px; 
    text-align: center;
}
.post-columna .button{
    color: #fff;
    padding: 7px;
    text-decoration: none;
    background-color: blue;
    border: solid blue;
    border-radius: 7px;
}
.post-columna a p{
    color: #fff;
}
.post .post-container{
    display: grid;
    }
@media(min-width:520px){
    .post .post-container{     
  grid-template-columns: repeat(2,50%);
    }
}
@media(min-width:728px){
   .post .post-container{
  grid-template-columns: repeat(3,33.3%);
    }
}
@media(min-width:1024px){
   .post .post-container{
    
  grid-template-columns: repeat(4,25%);
    }
    .post-container{
         width: 1024px;
    }
}
@media(min-width:1200px){
    .post-container{
         width: 1200px;
    }
}