{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static '../static/css/blog.css' %}">
{% block title %}Ninerogues - HomePage{% endblock %}
{% block  content %}}
    </br>
    <h1 class="title">Blog Home Page</h1>
    <br/>
    <div class="cuadrado"></div>
    <section class="post">
        <div>
            <div class="post-container">
                {% for post in posts %}
                    <article class="post-columna">
                    {% comment %} <a href="{% url 'blog:post-detail' slug=post.slug %}"> {% endcomment %}
                        
                        {% comment %} <img src="../blog{{post.image.url}}"alt="Post"> {% endcomment %}
                    {% comment %} </a> {% endcomment %}
                    {% comment %} <a href="{{ post.get_absolute_url }}">{{post.title }}</a> {% endcomment %}
                    {% comment %} <a href="{% url 'blog:post-detail' slug=post.slug %}"> {% endcomment %}
                        <h3>{{post.title}}</h3>
                        <h3>{{post.slug}}</h3>
                    {% comment %} </a> {% endcomment %}
                    {% comment %} <a href="{% url 'blog:post-detail' slug=post.slug %}"> {% endcomment %}
                        {{post.content}}
                    {% comment %} </a> {% endcomment %}
                    </article>
                    {% endfor %}
            </div>
            </div>
    </section> 
    </div>
{% endblock content %}