<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="Name Input">User Name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="Email Input">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="Password Input">Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <label for="Password Repeat">Repeat Password</label>
            <input type="password" name="repassword">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>