{% extends 'base.html' %}
{% load static %}
{% block content %}
    </br></br></br></br></br>
    <div class="cuadrado"></div>
        <section class="productos">
            <div>
                <div class="contenedor">
                    <article class="productos_columna">
                        <div>
                            <h3>{{post.title}}</h3></br>
                            <img src="../../blog{{post.image.url}}"alt="{{post.title}}">
                            <h3>{{post.content}}</h3></br>
                            <h3>{{post.published}}</h3></br>
                            <h3>Posted by: {{post.author}}</h3>
                            <br> 
                            {% if user.is_authenticated %}
                            <form method="POST" enctype="multipart/form-data" class="form-comment">
                                {% csrf_token %}
                                <div class="img-user-comment-container">
                                    <img class="img-user-comment" src="{% url 'account:profile' %}..{{user.profile.image.url}}" alt="{{user.username}}">
                                </div>
                                <div class="comment-post-container">
                                    {{form.content}}
                                </div><br><br>
                                <button type="submit" class="comment-button">Comment</button>
                              </form>
                            {% endif %}
                            <br><br>
                            {% for comment in comments %}
                                <h3>{{comment.content}}</h3><br>
                                <h3>{{comment.name}}</h3><br>
                            {% endfor %}
                        </div>
                        <form method="POST" action="{% url 'blog:like' post.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="comment-button">Like</button>
                            {% comment %} <i type="submit" class="bi bi-hand-thumbs-up"></i> {% endcomment %}
                        </form>
                        <h3>{{post.likes.all.count}}</h3><br>
                        <form method="POST" action="{% url 'blog:dislike' post.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="comment-button">Dislike</button>
                        </form>
                        <h3>{{post.dislikes.all.count}}</h3><br>
                    </article>
                </div>
            </div>
        </section>
    </div>
    </br>
    
{% endblock content %}