{% extends 'base.html' %}
{% comment %} {% load widget_tweaks %} {% endcomment %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br>
    <div class="container mx-auto">
        <form method="POST" enctype="multipart/form-data" class="ml-2">
            {% csrf_token %}
            <div>
                <h2>Create a post<h2>
            </div>
            <br>
            <div >{{form.title}}</div><br>
            <div>
                <h4>Category<h4>
                {{form.category}}
            </div><br>
            <div>{{form.content}}</div><br>
            <div>{{form.image}}</div><br>
            <div>
                <h4>Status<h4>
                {{form.status}}
            </div><br>
            <div class="border-2 border-blue-500">
                <button type="submit" >Upload Post</button>
            </div>
            <br><br><br>
        </form>
    </div>
</body>
</html>
{% endblock content %}