*{
    text-decoration: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}


.menu{
    background-color: #fff;
    position: fixed; 
    width: 100%;
    z-index: 111;
  }
  .menu ul{
    text-align: center;
    list-style: none;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: #000;
    display: block;
    padding: 20px 50px;
    text-decoration: none;
}

.menu ul li a span:hover{
    /* background-color: #42b881;*/
    border-bottom: solid 1px #000;
}
@media only screen and (min-width:880px) {
  .header{
    display: none;
  }
}






* {
    margin:0;
    padding:0;
    border: none;
    text-decoration: none;
    outline: none;
  }
  a:link:hover, a:visited:hover, a:active:hover {
    text-decoration:none;
}
  header {
    width:100%;
  }
  
  header nav {
    width:90%;
    max-width:1000px;
    margin:20px auto;
    background:#000;
  }
  
  .menu_bar {
    display:block;
  }
  
  header nav ul {
    overflow:hidden;
    list-style:none;
  }
  
  header nav ul li {
    float:left;
  }
  
  header nav ul li a {
    color:#fff;
    padding:20px;
    display:block;
    text-decoration:none;
  }
  
  header nav ul li i {
    margin-right:10px;
  }
  
  header nav ul li a:hover {
    background:#00c4da;
  }

  @media only screen and (max-width:880px) {
    .menu{
      display: none;
    }
  }

  @media only screen and (max-width:879px ) {

    header nav {
        z-index: 10;
        width:80%;
        height:100%;
        left:-100%;
        margin:0;
        position: fixed;
    }
  
    header nav ul li {
        display:block;
        float:none;
        border-bottom:1px solid rgba(255,255,255, .3);
    }
  
    .menu_bar {
        z-index: 11;
        display:block;
        width:100%;
        background-color:#000;
        position: fixed;
    }
  
    .menu_bar .bt-menu {
        display:block;
        padding:20px;
        background:#000;
        color:#fff;
        text-decoration:none;
        font-weight: bold;
        font-size:25px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
  
    .menu_bar i {
        float:right;
        font-size:40px;
    }
  }